macro_quotes: macro_quotes {
    compatible = "zmk,behavior-macro";
    label = "macro_quotes";
    #binding-cells = <0>;
    bindings = <&kp SQT>, <&kp SQT>, <&kp LEFT>;
};
macro_dquotes: macro_dquotes {
    compatible = "zmk,behavior-macro";
    label = "macro_dquotes";
    #binding-cells = <0>;
    bindings = <&kp DQT>, <&kp DQT>, <&kp LEFT>;
};
macro_braces: macro_braces {
    compatible = "zmk,behavior-macro";
    label = "macro_braces";
    #binding-cells = <0>;
    bindings = <&kp LBRC>, <&kp RBRC>, <&kp LEFT>;
};
macro_parens: macro_parens {
    compatible = "zmk,behavior-macro";
    label = "macro_parens";
    #binding-cells = <0>;
    bindings = <&kp LPAR>, <&kp RPAR>, <&kp LEFT>;
};
macro_brackets: macro_brackets {
    compatible = "zmk,behavior-macro";
    label = "macro_brackets";
    #binding-cells = <0>;
    bindings = <&kp LBKT>, <&kp RBKT>, <&kp LEFT>;
};
macro_kinesis: macro_kinesis {
    compatible = "zmk,behavior-macro";
    label = "macro_kinesis";
    #binding-cells = <0>;
    bindings = <&kp LS(K)>, <&kp I>, <&kp N>, <&kp E>, <&kp S>, <&kp I>, <&kp S>;
};
macro_go_view_1: macro_go_view_1 {
    label = "macro_go_view_1";
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <10>;
    tap-ms = <10>;
    bindings 
    = <&macro_press &kp LCTRL &kp LGUI>
    , <&macro_tap &kp LEFT &kp LEFT &kp LEFT &kp LEFT &kp LEFT &kp LEFT &kp LEFT &kp LEFT>
    , <&macro_release &kp LCTRL &kp LGUI>;
};
macro_go_view_2: macro_go_view_2 {
    label = "macro_go_view_2";
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <10>;
    tap-ms = <10>;
    bindings 
    = <&macro_press &kp LCTRL &kp LGUI>
    , <&macro_tap &kp LEFT &kp LEFT &kp LEFT &kp LEFT &kp LEFT &kp LEFT &kp LEFT &kp LEFT &kp LEFT &kp RIGHT>
    , <&macro_release &kp LCTRL &kp LGUI>;
};
macro_go_view_3: macro_go_view_3 {
    label = "macro_go_view_3";
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <10>;
    tap-ms = <10>;
    bindings 
    = <&macro_press &kp LCTRL &kp LGUI>
    , <&macro_tap &kp LEFT &kp LEFT &kp LEFT &kp LEFT &kp LEFT &kp LEFT &kp LEFT &kp LEFT &kp LEFT &kp RIGHT &kp RIGHT>
    , <&macro_release &kp LCTRL &kp LGUI>;
};
macro_go_view_4: macro_go_view_4 {
    label = "macro_go_view_4";
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <10>;
    tap-ms = <10>;
    bindings 
    = <&macro_press &kp LCTRL &kp LGUI>
    , <&macro_tap &kp LEFT &kp LEFT &kp LEFT &kp LEFT &kp LEFT &kp LEFT &kp LEFT &kp LEFT &kp LEFT &kp RIGHT &kp RIGHT &kp RIGHT>
    , <&macro_release &kp LCTRL &kp LGUI>;
};
macro_go_view_5: macro_go_view_5 {
    label = "macro_go_view_5";
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <10>;
    tap-ms = <10>;
    bindings 
    = <&macro_press &kp LCTRL &kp LGUI>
    , <&macro_tap &kp LEFT &kp LEFT &kp LEFT &kp LEFT &kp LEFT &kp LEFT &kp LEFT &kp LEFT &kp LEFT &kp RIGHT &kp RIGHT &kp RIGHT &kp RIGHT>
    , <&macro_release &kp LCTRL &kp LGUI>;
};
macro_go_view_6: macro_go_view_6 {
    label = "macro_go_view_6";
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <10>;
    tap-ms = <10>;
    bindings 
    = <&macro_press &kp LCTRL &kp LGUI>
    , <&macro_tap &kp LEFT &kp LEFT &kp LEFT &kp LEFT &kp LEFT &kp LEFT &kp LEFT &kp LEFT &kp LEFT &kp RIGHT &kp RIGHT &kp RIGHT &kp RIGHT &kp RIGHT>
    , <&macro_release &kp LCTRL &kp LGUI>;
};
macro_go_view_7: macro_go_view_7 {
    label = "macro_go_view_7";
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <10>;
    tap-ms = <10>;
    bindings 
    = <&macro_press &kp LCTRL &kp LGUI>
    , <&macro_tap &kp LEFT &kp LEFT &kp LEFT &kp LEFT &kp LEFT &kp LEFT &kp LEFT &kp LEFT &kp LEFT &kp RIGHT &kp RIGHT &kp RIGHT &kp RIGHT &kp RIGHT &kp RIGHT>
    , <&macro_release &kp LCTRL &kp LGUI>;
};
macro_go_view_8: macro_go_view_8 {
    label = "macro_go_view_8";
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <10>;
    tap-ms = <10>;
    bindings 
    = <&macro_press &kp LCTRL &kp LGUI>
    , <&macro_tap &kp LEFT &kp LEFT &kp LEFT &kp LEFT &kp LEFT &kp LEFT &kp LEFT &kp LEFT &kp LEFT &kp RIGHT &kp RIGHT &kp RIGHT &kp RIGHT &kp RIGHT &kp RIGHT &kp RIGHT>
    , <&macro_release &kp LCTRL &kp LGUI>;
};
macro_go_view_9: macro_go_view_9 {
    label = "macro_go_view_9";
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <10>;
    tap-ms = <10>;
    bindings 
    = <&macro_press &kp LCTRL &kp LGUI>
    , <&macro_tap &kp LEFT &kp LEFT &kp LEFT &kp LEFT &kp LEFT &kp LEFT &kp LEFT &kp LEFT &kp LEFT &kp RIGHT &kp RIGHT &kp RIGHT &kp RIGHT &kp RIGHT &kp RIGHT &kp RIGHT &kp RIGHT>
    , <&macro_release &kp LCTRL &kp LGUI>;
};
macro_open_terminal: macro_open_terminal {
    label = "macro_open_terminal";
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <10>;
    tap-ms = <10>;
    bindings 
    = <&macro_press &kp LGUI>
    , <&macro_tap &kp X>
    , <&macro_release &kp LGUI>
    , <&macro_tap &kp I>;
};
macro_alt_tab: macro_alt_tab {
    label = "macro_alt_tab";
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <10>;
    tap-ms = <10>;
    bindings 
    = <&macro_press &kp LALT &kp TAB>
    , <&macro_release &kp LALT &kp TAB &mo 0>;
};
macro_alt_f4: macro_alt_f4 {
    label = "macro_alt_f4";
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <10>;
    tap-ms = <10>;
    bindings 
    = <&macro_press &kp LALT>
    , <&macro_tap &kp F4>
    , <&macro_release &kp LALT>;
};
macro_file_explorer: macro_file_explorer {
    label = "macro_file_explorer";
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <10>;
    tap-ms = <10>;
    bindings 
    = <&macro_press &kp LGUI>
    , <&macro_tap &kp E>
    , <&macro_release &kp LGUI>;
};
macro_max_screen: macro_max_screen {
    label = "macro_max_screen";
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <10>;
    tap-ms = <10>;
    bindings 
    = <&macro_press &kp LGUI>
    , <&macro_tap &kp UP>
    , <&macro_release &kp LGUI>;
};
macro_min_screen: macro_min_screen {
    label = "macro_min_screen";
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <10>;
    tap-ms = <10>;
    bindings 
    = <&macro_press &kp LGUI>
    , <&macro_tap &kp DOWN>
    , <&macro_release &kp LGUI>;
};
macro_right_screen: macro_right_screen {
    label = "macro_right_screen";
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <10>;
    tap-ms = <10>;
    bindings 
    = <&macro_press &kp LGUI>
    , <&macro_tap &kp RIGHT>
    , <&macro_release &kp LGUI>;
};
macro_left_screen: macro_left_screen {
    label = "macro_left_screen";
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <10>;
    tap-ms = <10>;
    bindings 
    = <&macro_press &kp LGUI>
    , <&macro_tap &kp LEFT>
    , <&macro_release &kp LGUI>;
};
macro_ctrl_alt_del: macro_ctrl_alt_del {
    label = "macro_ctrl_alt_del";
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <10>;
    tap-ms = <10>;
    bindings 
    = <&macro_press &kp LCTRL &kp LALT>
    , <&macro_tap &kp DEL>
    , <&macro_release &kp LCTRL &kp LALT>;
};
macro_ctrl_c: macro_ctrl_c {
    label = "macro_ctrl_c";
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <10>;
    tap-ms = <10>;
    bindings 
    = <&macro_press &kp LCTRL>
    , <&macro_tap &kp C>
    , <&macro_release &kp LCTRL>;
};
macro_ctrl_v: macro_ctrl_v {
    label = "macro_ctrl_v";
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <10>;
    tap-ms = <10>;
    bindings 
    = <&macro_press &kp LCTRL>
    , <&macro_tap &kp V>
    , <&macro_release &kp LCTRL>;
};
macro_ctrl_x: macro_ctrl_x {
    label = "macro_ctrl_x";
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <10>;
    tap-ms = <10>;
    bindings 
    = <&macro_press &kp LCTRL>
    , <&macro_tap &kp X>
    , <&macro_release &kp LCTRL>;
};
macro_ctrl_z: macro_ctrl_z {
    label = "macro_ctrl_z";
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <10>;
    tap-ms = <10>;
    bindings 
    = <&macro_press &kp LCTRL>
    , <&macro_tap &kp Z>
    , <&macro_release &kp LCTRL>;
};
macro_ctrl_backspace: macro_ctrl_backspace {
    label = "macro_ctrl_backspace";
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <10>;
    tap-ms = <10>;
    bindings 
    = <&macro_press &kp LCTRL>
    , <&macro_tap &kp BSPC>
    , <&macro_release &kp LCTRL>;
};
macro_shift_ctrl_right: macro_shift_ctrl_right {
    label = "macro_shift_ctrl_right";
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <10>;
    tap-ms = <10>;
    bindings 
    = <&macro_press &kp LCTRL &kp LSHIFT>
    , <&macro_tap &kp RIGHT>
    , <&macro_release &kp LCTRL &kp LSHIFT>;
};
macro_shift_ctrl_left: macro_shift_ctrl_left {
    label = "macro_shift_ctrl_left";
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <10>;
    tap-ms = <10>;
    bindings 
    = <&macro_press &kp LCTRL &kp LSHIFT>
    , <&macro_tap &kp LEFT>
    , <&macro_release &kp LCTRL &kp LSHIFT>;
};
macro_shift_down: macro_shift_down {
    label = "macro_shift_down";
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <10>;
    tap-ms = <10>;
    bindings 
    = <&macro_press &kp LSHIFT>
    , <&macro_tap &kp DOWN>
    , <&macro_release &kp LSHIFT>;
};
macro_shift_up: macro_shift_up {
    label = "macro_shift_up";
    compatible = "zmk,behavior-macro";
    #binding-cells = <0>;
    wait-ms = <10>;
    tap-ms = <10>;
    bindings 
    = <&macro_press &kp LSHIFT>
    , <&macro_tap &kp UP>
    , <&macro_release &kp LSHIFT>;
};
